@import 'tailwindcss';
@import 'tw-animate-css';
@config '../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Font Family */
  --font-family: 'Inter', sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Display Text Sizes, Line Heights, and Letter Spacing */
  --text-display-3xl: 3.75rem;
  --text-display-3xl--line-height: 4.5rem;
  --text-display-3xl--letter-spacing: -3%;

  --text-display-2xl: 3rem;
  --text-display-2xl--line-height: 3.75rem;
  --text-display-2xl--letter-spacing: -3%;

  --text-display-xl: 2.5rem;
  --text-display-xl--line-height: 3rem;
  --text-display-xl--letter-spacing: -3%;

  --text-display-lg: 2.25rem;
  --text-display-lg--line-height: 2.75rem;
  --text-display-lg--letter-spacing: -3%;

  --text-display-md: 2rem;
  --text-display-md--line-height: 2.5rem;
  --text-display-md--letter-spacing: -3%;

  --text-display-sm: 1.75rem;
  --text-display-sm--line-height: 2.375rem;
  --text-display-sm--letter-spacing: -3%;

  --text-display-xs: 1.5rem;
  --text-display-xs--line-height: 2.25rem;
  --text-display-xs--letter-spacing: -3%;

  /* Text Sizes, Line Heights, and Letter Spacing */
  --text-xl: 1.25rem;
  --text-xl--line-height: 2.125rem;
  --text-xl--letter-spacing: -3%;

  --text-lg: 1.125rem;
  --text-lg--line-height: 2rem;
  --text-lg--letter-spacing: -3%;

  --text-md: 1rem;
  --text-md--line-height: 1.875rem;
  --text-md--letter-spacing: -3%;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.75rem;
  --text-sm--letter-spacing: -3%;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5rem;
  --text-xs--letter-spacing: -3%;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Neutral Colors */
  --color-neutral-25: #fdfdfd; /* AAA 7.02 */
  --color-neutral-50: #fafafa; /* AA 6.84 */
  --color-neutral-100: #f5f5f5; /* AA 6.55 */
  --color-neutral-200: #e9eaeb; /* AA 5.92 */
  --color-neutral-300: #d5d7da; /* AA 4.95 */
  --color-neutral-400: #a4a7ae; /* 2.40 */
  --color-neutral-500: #717680; /* 2.40 */
  --color-neutral-600: #535862; /* 2.40 */
  --color-neutral-700: #414651; /* 2.40 */
  --color-neutral-800: #252b37; /* 2.40 */
  --color-neutral-900: #181d27; /* 2.40 */
  --color-neutral-950: #0a0d12; /* 2.40 */

  /* Primary Colors */
  --color-primary-100: #e5f4fb; /* AA 6.38 */
  --color-primary-200: #6fcfff; /* AA 6.15 */
  --color-primary-300: #0093dd; /* AA 6.15 */
  --color-primary-400: #050a1b; /* AA 6.15 */

  /* Base Colors */
  --color-base-white: #ffffff; /* AA 6.38 */
  --color-base-black: #000000; /* AA 6.15 */

  /* Radius */
  --radius-none: 0rem;
  --radius-xxs: 0.125rem;
  --radius-xs: 0.25rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.625rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.25rem;
  --radius-4xl: 1.5rem;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-xxs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.375rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.25rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 2.5rem;
  --spacing-6xl: 3rem;
  --spacing-7xl: 4rem;
  --spacing-8xl: 5rem;
  --spacing-9xl: 6rem;
  --spacing-10xl: 8rem;
  --spacing-11xl: 8.75rem;
}
/* start shadcn theme */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* end shadcn theme */

html {
  scroll-behavior: smooth;
}

body {
  /* @apply bg-base-background text-sm font-normal text-white; */
  font-family: var(--font-red-hat-display);
}

@layer components {
  .custom-container {
    margin: 0 auto;
    @apply max-w-312 pr-6 pl-6;
  }
  .custom-container-large {
    margin: 0 auto;
    @apply max-w-360 pr-6 pl-6;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
}

img {
  user-drag: none;
  -webkit-user-drag: none; /* For Safari */
  user-select: none; /* Prevent selection */
  touch-action: none; /* Disable touch gestures */
  -webkit-user-select: none; /* For Safari */
}
